.user-header-search {
  width: 700px;
  margin-top: -60px;
  height: 40px;
  display: flex;
  justify-content: center;
  background-color: #fff;
  border-radius: 25px;
  align-items: center;
  padding: 0 2px;
  position: relative;
}
.user-header-input {
  border: none;
  box-shadow: none;
}
:where(.css-dev-only-do-not-override-1045eyd).ant-input-outlined:focus,
:where(.css-dev-only-do-not-override-1045eyd).antinput-outlined:focus-within {
  box-shadow: none;
}
.searchResult {
  width: 1260px;
  padding: 30px 40px 30px 40px;
}
.user-content-body {
}

.user-content-left {
  background-color: #fff;
  border-radius: 20px;
  width: 390px;
  margin-right: 20px;
}
.user-content-right {
  border-radius: 20px;
  width: 830px;
  position: relative;
  border-radius: 20px;
  padding: 20px 40px 40px 30px;
  background-color: #fff;
  z-index: 1;
}
.user-content-point-group {
  background-image: url(/img/icon_jubao@2x.png);
  background-repeat: repeat-y;
}
.user-content-point-right {
  width: 780px;
}
.user-content-right-top {
  width: 100%;
  height: 40px;
  background: rgba(251, 200, 79, 0.1);
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding-left: 30px;
}
.user-awards-card {
  background-color: rgba(255, 169, 64, 0.2); /* 卡片背景色 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* 添加阴影效果 */
  margin: 10px;
  border-radius: 4px;
  padding: 10px;
}
.user-content-point {
  width: 18px;
  height: 18px;
  background-color: #ececec;
  border-radius: 50%;
}

.user-pets-details-line {
  color: #fbc44f;
  width: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-pets-line-top {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: 1px solid;
}
.user-pets-line-under {
  width: 1px;
  border-left: 1px solid;
  height: calc(100% - 11px);
}
.user-pets-details-des {
  width: calc(100% - 28px);
  border-bottom: 1px dotted #cccccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.user-pets-card {
  position: relative;
  background: linear-gradient(to bottom, #81cbbc, rgba(251, 200, 79, 0.1) 2%);
  background-size: 100% 30px;
  padding: 20px;
  display: flex;
  box-shadow: -2px 10px 10px rgba(0, 0, 0, 0.1);
  /* border-top-right-radius: 10px 40px;
  border-bottom-right-radius: 20px 60px; */
}

/* .user-pets-card::before {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  content: "";
  display: block;
  border: 20px solid #7201aa;
  border-color: transparent #fff #fff transparent;
  box-shadow: -2px -1px 1px rgba(0, 0, 0, 0.5);
} */

.user-pets-card:after {
  width: 180px;
  height: 30px;
  content: " ";
  margin-left: -90px;
  border: 1px solid rgba(200, 200, 200, 0.8);
  background: rgba(254, 254, 254, 0.6);
  -moz-box-shadow: 0px 0 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0 3px rgba(0, 0, 0, 0.1);
  -moz-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
  position: absolute;
  left: 50%;
  top: -15px;
}
.pets-question {
  /* border: 1px solid #ff6a63; */
  border-radius: 50%;
  width: 26px;
  height: 26px;
  font-size: 1.75rem;
  color: #f1330d;
  cursor: pointer;
}
